:root {
  --myButton-color: #100170;
  --primary-color: #272142;
  --secondary-color: #540147;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
  background-color: #fff;
}

.content {
  padding: 10px 8%;
}
.logo {
  width: 60px;
  height: 60px;
}
nav {
  margin-bottom: 50px;
}

nav ul {
  margin-left: auto;
}

nav li {
  text-decoration: none;
  display: inline;
  line-height: 42px;
  font-size: 18px;
}
nav a {
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
.navbar-light .navbar-nav .nav-item .nav-link {
  color: #272142;
}
.nav-item .active {
  color: #540147 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

h1 {
  font-weight: bold;
  font-size: 96px;
}
h2 {
  font-size: 74px;
  font-weight: bold;
}
h3 {
  font-size: 48px;
}
p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  color: var(--primary-color);
}

footer {
  margin-top: 60px;
}
footer .contact-box {
  background-color: #f9f7fe;
  padding: 30px 120px;
  border-radius: 10px;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}
footer .email-link:hover {
  color: var(--myButton-color);
}
footer .social-links a {
  margin: 0;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background-color: #9b0284;
}
footer a {
  color: var(--myButton-color);
  text-decoration: none;
}
footer a:hover {
  text-decoration: wavy;
}
footer .socials {
  margin: 0;
  color: var(--myButton-color);
}
footer .socials p {
  font-size: 12px;
}
footer .social-links .phoneno {
  font-size: 12px;
}
hr {
  width: 75%;
  margin: 0 auto;
}
.topinfo {
  margin: 33px 20px;
}

.hero {
  padding: 120px 0;
  color: #14002f;
}
.hero h1 {
  font-weight: bold;
  line-height: 0.9;
  color: #14002f;
  padding-bottom: 25px;
  font-size: 65px;
}
.heroh1 {
  background: linear-gradient(
    2.1deg,
    rgb(84, 1, 71) 30.3%,
    rgb(1, 15, 90) 45.8%,
    rgb(16, 1, 112) 2.1%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.hero h3 {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 32px;
  color: #14002f;
  width: 16em;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 47px;
  color: #14002f;
  margin: 0;
  line-height: 0.9;
}
.hero p {
  font-family: var(--default-font-family);
  display: inline;
  font-size: 16px;
  line-height: 0.8;
  margin: 0;
  text-align: left;
  color: #14002f;
}
.my-img {
  height: 349px;
  width: 349px;
  border-radius: 50%;
  border: 4px transparent;
  border-style: dashed;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #20c7ff, purple, rgb(255, 35, 35));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 19em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: #1b0040;
  }
  to {
    border-right-color: transparent;
  }
}
.arrow {
  margin-top: 150px;
}
.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.btn-myButton {
  border-radius: 6px;
  font-size: 16px;
  line-height: 27px;
  padding: 15px 30px;
  border: 3px solid var(--secondary-color);
  border-color: #9b0284;
  color: var(--secondary-color);
  transition: background 0.5s;
}
.btn-myButton:hover {
  background-color: var(--myButton-color);
  color: #fff;
}
.btn-cv {
  border-radius: 6px;
  font-size: 16px;
  line-height: 27px;
  padding: 15px 30px;
  border: 3px solid transparent;
  background-color: var(--myButton-color);
  color: #fff;
  transition: background 0.5s;
}
.btn-cv:hover {
  background-color: #9b0284;
  color: #fff;
}

#work-gallary {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: #60c4ff;
}
.gallery {
  --s: 150px; /* control the size */
  --g: 10px; /* control the gap */
  --f: 1.5; /* control the scale factor */

  display: grid;
  gap: var(--g);
  width: calc(3 * var(--s) + 2 * var(--g));
  aspect-ratio: 1;
  grid-template-columns: repeat(3, auto);
}

.gallery > img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: grayscale(80%);
  transition: 0.35s linear;
}

.gallery img:hover {
  filter: grayscale(0);
  width: calc(var(--s) * var(--f));
  height: calc(var(--s) * var(--f));
}
#portfolio {
  padding: 20px 0 50px 0;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.work h3 {
  opacity: 0.8;
  font-size: 42px;
}
.mid-p {
  font-size: 18px;
  text-align: center;
  font-family: var(--default-font-family);
  color: var(--primary-color);
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.9), #9b0284);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.work h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer p {
  color: #eeeeee;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.9;
}
.layer a {
  margin-top: 20px;
  color: #5e001e;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  text-align: center;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}

.home-description {
  padding: 103px 0px 103px 61px;
}
.section {
  padding: 60px 20px;
}

.section h1 {
  line-height: 80px;
  font-size: 74px;
}
.section h2 {
  font-size: 30px;

  font-family: var(--default-font-family);
}
.section h3 {
  font-size: 24px;
  font-weight: bold;
  font-family: var(--default-font-family);
  line-height: 1.5;
}
.section p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  color: var(--primary-color);
}

.section img {
  border-radius: 14px;
}

. subhead {
  margin: 20px;
  text-align: center;
}
a {
  color: var(--primary-color);
}
a:hover,
nav li.active a {
  text-decoration: none;
  color: var(--myButton-color);
}

@media (max-width: 992px) {
  h1 {
    font-size: 52px;
    line-height: 56px;
  }
  h2 {
    font-size: 56px;
  }
  h2,
  p {
    text-align: center;
  }
  p {
    font-size: 14px;
  }
  nav {
    margin: 20px;
  }
  .logo {
    width: 30px;
    height: 30px;
  }
  .hero {
    padding: 80px 10px;
  }
  .hero h2 {
    font-size: 14px;
  }
  .hero p {
    font-size: 30px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
  .section {
    text-align: center;
    padding: 60px 10px;
  }
  .section h1 {
    font-weight: 700;
    font-size: 46px;
    margin-top: 0;
  }
  nav ul {
    margin: 0;
    padding: 10px 0 0 0;
  }
  nav li {
    line-height: 22px;
    margin-left: 5px;
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
}
