:root {
  --myButton-color: #6c63ff;
  --primary-color: #272142;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

h1 {
  font-weight: bold;
  font-size: 96px;
}
h2 {
  font-size: 74px;
  font-weight: bold;
}
h3 {
  font-size: 48px;
}
p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  color: var(--primary-color);
}
.logo {
  max-width: 150px;
}
nav {
  margin: 33px;
}

nav ul {
  margin: 0;
  padding: 20px 0 0 0;
}

nav li {
  text-decoration: none;
  display: inline;
  line-height: 42px;
  margin-left: 30px;
  font-size: 18px;
}
nav a {
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}
footer .email-link:hover {
  color: var(--myButton-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--myButton-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--myButton-color);
}
footer a {
  color: var(--myButton-color);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--primary-color);
}
.hero p {
  font-weight: bold;
  font-size: 46px;
  margin: 0;
}

.btn-myButton {
  background-color: var(--myButton-color);
  border-radius: 4px;
  color: white;
  font-size: 16px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-learnMore {
  border-radius: 4px;
  border-color: var(--myButton-color);
  color: var(--myButton-color);
  font-size: 16px;
  line-height: 27px;
  padding: 15px 30px;
}
.home-description {
  padding: 103px 0px 103px 61px;
}
.section {
  padding: 60px 20px;
}

.section h1 {
  line-height: 80px;
  font-size: 64px;
}
.section h2 {
  font-size: 18px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}
.section h3 {
  font-size: 24px;
  font-weight: bold;
  font-family: var(--default-font-family);
  line-height: 1.5;
}
.section p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  color: var(--primary-color);
}

.section img {
  border-radius: 14px;
}
. subhead {
  margin: 20px;
  text-align: center;
}
a {
  color: var(--primary-color);
}
a:hover,
nav li.active a {
  text-decoration: none;
  color: var(--myButton-color);
}

@media (max-width: 992px) {
  h1 {
    font-size: 52px;
    line-height: 56px;
  }
  h2 {
    font-size: 56px;
  }
  h2,
  p {
    text-align: center;
  }
  p {
    font-size: 14px;
  }
  nav {
    margin: 20px;
  }
  .hero {
    padding: 80px 10px;
  }
  .hero h2 {
    font-size: 14px;
  }
  .hero p {
    font-size: 30px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .section {
    text-align: center;
    padding: 60px 10px;
  }
  .section h1 {
    font-weight: 700;
    font-size: 46px;
    margin-top: 0;
  }
  nav ul {
    margin: 0;
    padding: 10px 0 0 0;
  }
  nav li {
    line-height: 22px;
    margin-left: 5px;
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
}
